%tr{ data: { 'proposal-id' => proposal.id, 'proposal-uuid' => proposal.uuid } }
  %td= proposal.average_rating
  %td= proposal.score_for(current_user)
  %td= proposal.ratings.size
  %td= proposal.standard_deviation
  %td= proposal.speaker_names
  %td= proposal.title_link
  %td= proposal.tags
  %td= proposal.review_tags
  %td.status= proposal.state_label(small: true, show_confirmed: true)
  %td.actions= proposal.small_state_buttons
  %td 
    =button_to 'Delete Proposal',  organizer_event_proposal_path(event_id: @event, uuid: proposal.uuid), :method => :delete, :data => {:confirm => 'Are you sure you want to delete this proposal?'}, :class => "btn btn-primary btn-sm"
